#ques-1{
    border: solid green;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 70px;
}
#ques-2a{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    border: solid green;
}
#ques-2b{
    padding-top: 50px 0;
    border: solid red;
}
div p {
    border: solid green;
}
#ques-2c{
    margin: 50px;
    border: solid red;
}
#ques-2d{
    padding: 50px;
    border: solid red;
}
.center{
    text-align: center;
}
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.banner{
    flex-basis: 100%;
}
.menu{
    flex-grow: 1;
}
.content{
    flex-grow: 4;
}
table,th,td{
    border: 1px solid blueviolet;
    border-collapse: collapse;
}
table#t01 tr:nth-child(even){
    background-color: white;
}
table#t01 tr:nth-child(odd){
    background-color: bisque;
}
table#t01 th{
    background-color: brown;
    color: white;
}
table#t02 th{
    background-color: red;
    color: white;
}
option:checked{
    background-color: blue;
    color:white;
}
