p{
    color: red;
    background-color: aqua;
}
#demo-1{
    color:black;
}
.demo-2{
    color:blue;
    background-color: chartreuse;
}
.demo-2:hover{
    color:blue;
    background-color:brown;
}
div p{
    color: white;
}
.box-1{
    height: 100px; 
    width: 200px; 
    border: 1px solid black;
    padding: 50px 100px;
    margin: 10px;
}
.box-2{
    height: 100px; 
    width: 200px; 
    border: 1px solid red;
}

